@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import './Normalize.css';
@import './TabBar.css';
@import './ProductList.css';
@import './Restaurant-layout.css';
@import './OrderForm.css';
@import './AllTickets.css';
@import './Ticket.css';
@import './PostForm.css';
@import './TicketTimer.css';

      

:root {
        --main-gray-color: #454d66;
        --secondary-gray-color: #565e76;
        --main-green-color: #58b368; 
      }

body {
  background-color: var( --main-gray-color);
  font-family: 'Montserrat', sans-serif;
}

.active {
  background-color: #E5E7E6;
  height: 100%;
  width: 100%;
}

button:focus {outline:0;}

.logo-container{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  background-color: var(--main-green-color);
  border: 1px solid var(--main-green-color);
  margin-bottom: -1px;
}
.logo {
  padding: 0;
}

.logo a {
  text-decoration: none;
  color: white;
  background-color: transparent;
}

.logout-btn {
  padding: 10px 10px;
  font-size: 1.1rem;
  font-weight:bold; 
  color: white;
  height: 80%;
  border-radius: 5px;
  background-color: #D60E0A;
  border:0;
  margin-right: 20px;
  margin-top: 5px;
}

.logout-btn:hover {
  color: black;
}

.username {
  color: white;
}

/*TIMER*/

.calculateTime {
  margin-top: 15px;
  font-size: 1.5rem;
}