.login-form {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 40px;
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.login-form>input {
  color: black;
  background-color: #FCF9FF;
  border-radius: 10px;
  padding: 0.8rem;
  font-weight: bold;
  text-align: center;
  border: 4px solid var(--secondary-gray-color);
  width: 250px;
}

.login-form>input:focus {
  outline:0;
  border: 3px solid var(--main-green-color);
  
}

.login-form>input::placeholder {
  color: var(--secondary-gray-color);
}

.submitButton {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  border: 2px solid var(--main-green-color);
  background-color: var(--main-green-color);
  border-radius:5px;
}

.form-holder {
  display:flex;
  flex-direction:column;
  justify-content: center; 
  align-items:center;
}