.login-form {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 40px;
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 190px;
}


.login-form > input {
  box-sizing:border-box;
  color: black;
  background-color: #FCF9FF;
  border-radius: 10px;
  /* padding: 1.5rem; */
  font-weight: bold;
  text-align: center;
  border: 4px solid var(--secondary-gray-color);
  width: 220px;
}

.login-form>input:focus {
  outline: 0;
  border: 3px solid var(--main-green-color);
}

.login-form>input::placeholder {
  color: var(--secondary-gray-color);
}

.submitButton {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  border: 2px solid var(--main-green-color);
  background-color: var(--main-green-color);
  border-radius: 5px;
}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-holder-login {
  margin-top:3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing:border-box;
  padding:2rem;
}

.signUpButton {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  border: 2px solid var(--main-green-color);
  background-color: var(--main-green-color);
  border-radius: 5px;
}

.signUpButton a {
  text-decoration: none;
  color: white;
}

.role-select {
  font-size: 0.8rem;
  height: 1.7rem;
  margin-top: 0px;
  border:solid white;
}

.role-select:focus {
  border: 2px solid var(--main-green-color);
  outline:0;
}

/****************** Animated placeholders **********************/

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control {
  outline: 0;
  border-radius:2px;
  border: solid white;
  padding:.12rem;
}

.form-control:focus {
  border: 2px solid var(--main-green-color);
}

.form-control-placeholder {
  position: absolute;
  top: 2px;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  margin-left: -200px;
  font-size: 0.65rem;
  font-weight: bold;
}

.form-control:focus +.form-control-placeholder,
.form-control:valid +.form-control-placeholder {
  font-size: 85%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  color: white;
  margin-left: -203px;
  margin-top: -5px;
}
