.layout-container {
    width: 100%;
    height: 100%;
    background-color:var(--main-gray-color);
}

.layout-parent {
    width: 100vw;
    height: 95vh;
    overflow-y:hidden; 
    padding-top: 10px; 
    box-sizing: border-box;
}
.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.layout-btn {
    padding: 1rem;
    width: 50%;
    margin:0;
    border: none;
    background-color: yellowgreen;
}

.layout-bord {
    font-weight:bold;
    font-size:1.5rem;
    color:rebeccapurple;
    display: flex;
    background-color: #A5FFD6;
    margin: 0;
    height: 100%; 
    border: 1px solid var(--main-gray-color);
    align-items: center;
    justify-content: center;
}
